{#
# $conferences
#}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <h1><a href="{{ path('homepage') }}">Guestbook</a></h1>
            <ul>
                {% for conference in conferences %}
                    <li>
                        <a href="{{ path('conference/show-one', { slug: conference.slug }) }}">{{ conference.city }} - conference</a>
                    </li>
                {% endfor %}
            </ul>
        </header>

        {# body #}
        {% block body %}{% endblock %}
        {# javascript #}
        {% block javascripts %}{% endblock %}
    </body>
</html>
